@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-black/75 text-white;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    @apply bg-red-400 rounded-full;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.heart-pulse {
    animation: pulse 1.25s infinite ease-in-out;
}

.ease-bounce-in {
    transition-timing-function: cubic-bezier(0.31, 0.99, 0.74, 1.14);
}

.ease-bounce-out {
    transition-timing-function: cubic-bezier(0.17, -0.3, 0.86, 0.43);
}
